<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mudah.my"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />

    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->


    <!-- START AppsFlyer permission -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <permission android:name="com.muday.my.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.mudah.my.permission.C2D_MESSAGE" />
    <!-- END AppsFlyer permission -->

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:logo="@drawable/top_menu_logo"
        android:theme="@style/FambaTheme">
        <activity
            android:name=".activities.SignUpActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activities.SignInActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".activities.UpdatePasswordActivity"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity android:name=".activities.SignUpActivationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www2.mudah.my"
                    android:pathPattern="/useraccount.html"
                    android:scheme="http" />
                <data
                    android:host="www2.schibstedclassifiedmedia.my"
                    android:pathPattern="/useraccount.html"
                    android:scheme="http" />
                <data
                    android:host="www2.selamat.my"
                    android:pathPattern="/useraccount.html"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.UserLiveAdsActivity" />
        <activity android:name=".activities.UserProfileActivity" />
        <activity android:name=".activities.EditUserProfileActivity" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activities.ChooseProfilePicture"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activities.HomepageActivity"
            android:theme="@style/HomepageMenuTheme" />
        <activity
            android:name=".activities.AdsListActivity"
            android:theme="@style/FambaMenuTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.mudah.my"
                    android:pathPrefix="/Malaysia"
                    android:scheme="http" />

                <data
                    android:host="www.mudah.my"
                    android:pathPrefix="/malaysia"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.EmailAdvertiserActivity" />
        <activity
            android:name=".activities.ACAdsSearchRegionChooser"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activities.ACAdsSearchMunicipalityChooser"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".activities.ACAdsSearchCategoryGroupChooser" />
        <activity android:name=".activities.ACAdsSearchCategoryChooser" />
        <activity android:name=".activities.ACAdsSearchCategoryChooserWithVirtual" />
        <activity android:name=".activities.AdViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="m.mudah.my"
                    android:pathPrefix="/view"
                    android:scheme="http" />
                <data
                    android:host="www.mudah.my"
                    android:pathPrefix="/vi/"
                    android:scheme="http" />
                <data
                    android:host="www.mudah.my"
                    android:pathPattern="/.*-0.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.mudah.my"
                    android:pathPattern="/.*-1.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.mudah.my"
                    android:pathPattern="/.*-2.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.mudah.my"
                    android:pathPattern="/.*-3.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.mudah.my"
                    android:pathPattern="/.*-4.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.mudah.my"
                    android:pathPattern="/.*-5.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.mudah.my"
                    android:pathPattern="/.*-6.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.mudah.my"
                    android:pathPattern="/.*-7.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.mudah.my"
                    android:pathPattern="/.*-8.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.mudah.my"
                    android:pathPattern="/.*-9.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="m.schibstedclassifiedmedia.my"
                    android:pathPrefix="/view"
                    android:scheme="http" />
                <data
                    android:host="www.schibstedclassifiedmedia.my"
                    android:pathPrefix="/vi/"
                    android:scheme="http" />
                <data
                    android:host="www.schibstedclassifiedmedia.my"
                    android:pathPattern="/.*-0.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.schibstedclassifiedmedia.my"
                    android:pathPattern="/.*-1.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.schibstedclassifiedmedia.my"
                    android:pathPattern="/.*-2.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.schibstedclassifiedmedia.my"
                    android:pathPattern="/.*-3.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.schibstedclassifiedmedia.my"
                    android:pathPattern="/.*-4.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.schibstedclassifiedmedia.my"
                    android:pathPattern="/.*-5.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.schibstedclassifiedmedia.my"
                    android:pathPattern="/.*-6.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.schibstedclassifiedmedia.my"
                    android:pathPattern="/.*-7.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.schibstedclassifiedmedia.my"
                    android:pathPattern="/.*-8.*\.htm"
                    android:scheme="http" />
                <data
                    android:host="www.schibstedclassifiedmedia.my"
                    android:pathPattern="/.*-9.*\.htm"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.WebViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:scheme="com.mudah.my" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompat_no_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="optly3160310800" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lib701.helper.FullScreenGallery"
            android:theme="@style/AppCompat_no_title" />
        <activity
            android:name=".activities.ManageAdsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_manage_ads"
            android:windowSoftInputMode="stateHidden" />

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="21f4355c8bd9224286e0f940abbef104d84d2fcf" />

        <activity
            android:name=".activities.InsertAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="m.mudah.my"
                    android:pathPrefix="/insertad-deeplink"
                    android:scheme="http" />
                <data
                    android:host="www2.mudah.my"
                    android:pathPrefix="/insertad-deeplink"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ACInsertAdCategoryGroupChooser"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activities.ACInsertAdCategoryChooser"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activities.ACInsertAdPictureChooser"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".activities.ACInsertAdRegionChooser"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".activities.EmailSupportActivity" />
        <activity android:name=".activities.EmailReportActivity" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name=".activities.ListBookmarksActivity"
            android:theme="@style/FambaTheme.DeleteMenu" />
        <activity
            android:name=".activities.ListAdViewFavouritesActivity"
            android:theme="@style/FambaTheme.DeleteMenu" />
        <activity
            android:name=".activities.FilterMenuActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".activities.EditPictureActivity"
            android:theme="@style/AppCompat_no_title" />
        <activity android:name=".activities.BetaUsersActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.appsflyer.MultipleInstallBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.InactiveUserCreateNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receivers.InactiveUserDismissNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receivers.BookmarkNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receivers.BookmarkDismissNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receivers.DraftAdCreateNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receivers.DraftAdDismissNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receivers.InactiveInsertAdCreateNotificationReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".receivers.InactiveInsertAdDismissNotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".services.PullService"
            android:exported="false" />
        <service
            android:name=".services.RegistrationIntentService"
            android:exported="false" />

        <activity android:name=".activities.PrivacyPolicyActivity" />
        <activity android:name=".activities.TermsActivity" />
        <activity android:name=".activities.LocationActivity" />
        <activity
            android:name=".activities.SignUpIntroActivity"
            android:theme="@style/AppCompat_no_title" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".activities.InboxActivity"
            android:screenOrientation="portrait"
            android:theme="@style/FambaMenuTheme" />
        <activity
            android:name=".activities.ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider409943195854445"
            android:exported="true" />

        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- to support pre-4.4 KitKat devices -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.mudah.my" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->


        <!-- [START gcm_listener] -->
        <service
            android:name=".services.GcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service
            android:name=".services.InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->

        <activity android:name=".activities.LaunchLocationActivity" />

        <!-- REQUIRED: Kahuna's push requires the receivers and service -->
        <receiver android:name="com.kahuna.sdk.KahunaCoreReceiver" />
        <receiver
            android:name="com.kahuna.sdk.KahunaPushReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.mudah.my" />
            </intent-filter>
        </receiver>

        <service android:name="com.kahuna.sdk.KahunaPushService" />
        <receiver android:name=".receivers.KahunaReceiver" />
        <!-- END of Kahuna's push requirements -->
    </application>

</manifest>